footer {
  background-color: #0a061d;
  color: white;
  padding: 30px 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: left;
}

.footer-content img {
  margin-right: auto;
}
